[user]
	name = lamcw
	email = thomas@lamcw.com
	signingkey = thomas@lamcw.com
[credential]
	helper = store
[alias]
	# git log graph
	gr = log --all --decorate --oneline --graph
[core]
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
	prompt = false
[diff]
	tool = vimdiff
[commit]
	gpgsign = true
[pull]
	rebase = true
