[user]
	name = Thomas Lam
	email = thomaslam@canva.com
	signingkey = thomaslam@canva.com
[credential]
	helper = store
[alias]
	# git log graph
	gr = log --all --decorate --oneline --graph
[core]
	excludesfile = /Users/thomaslam/.gitignore_global
	untrackedCache = true
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
	prompt = false
[diff]
	tool = vimdiff
[commit]
	gpgsign = true
[pull]
	rebase = true
[trace2]
	eventTarget = af_unix:dgram:/tmp/olly-git-trace2.sock
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[protocol]
	version = 2
[maintenance]
	repo = /Users/thomaslam/work/canva
	repo = /Users/thomaslam/work/canva-green
[push]
	autoSetupRemote = true
[checkout]
	workers = 0
