[submodule "zsh/plugins/fast-syntax-highlighting"]
	path = zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "zsh/plugins/geometry"]
	path = zsh/plugins/geometry
	url = https://github.com/geometry-zsh/geometry.git
	branch = master
