$waybar-pill-vmargin: 3px;
$waybar-pill-hmargin: 12px;
$waybar-pill-radius: 28px;

$waybar-pill-bg: #282A36;
$waybar-text-color: #F8F8F2;

* {
  border: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

window#waybar {
  color: $waybar-text-color;
  background: rgba(43, 48, 59, 0.5);
}

window#waybar.hidden {
  opacity: 0.2;
}

/* pill style */
#workspaces, #mode {
  border-radius: $waybar-pill-radius;
}

#workspaces {
  margin: $waybar-pill-vmargin $waybar-pill-hmargin;
  background-color: $waybar-pill-bg;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  color: $waybar-text-color;
}

#workspaces button.focused {
  color: #9AEDFE;
}

#workspaces button.urgent {
  background-color: #EB4D4B;
}

#workspaces button:hover {
  color: #FF79C6;
  border-radius: inherit;
}

/* margin between modules and bar */
#network, #clock, #battery, #cpu, #memory,
#temperature, #backlight, #tray, #custom-alsa {
  margin: $waybar-pill-vmargin 0;
}

/* style that shares between modules */
#network, #clock, #battery, #cpu, #memory, #temperature, #backlight, #tray,
#mode, #custom-alsa {
  padding: 0 10px;
  color: $waybar-text-color;
  background-color: $waybar-pill-bg;
}

#mode {
  margin: $waybar-pill-vmargin $waybar-pill-hmargin $waybar-pill-vmargin 0px;
  background-color: #800000;
}

#network {
  padding-left: 15px;
  border-top-left-radius: $waybar-pill-radius;
  border-bottom-left-radius: $waybar-pill-radius;
}

#clock {
  padding-right: 15px;
  margin-right: 12px;
  border-top-right-radius: $waybar-pill-radius;
  border-bottom-right-radius: $waybar-pill-radius;
}

#tray {
  margin-right: 12px;
  border-top-right-radius: $waybar-pill-radius;
  border-bottom-right-radius: $waybar-pill-radius;
  border-top-left-radius: $waybar-pill-radius;
  border-bottom-left-radius: $waybar-pill-radius;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}
